.item_list
{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size:smaller;

    width:90%;
    margin:auto;
    margin-top: 3em;
    padding: 0%;
    
}

.item
{
    width: 16em;
    height:18em;
    border-radius: 1em;
    background: #323232;
    display: list-item;
    position: relative;

    overflow: hidden;
    /* make item order itself first */
    order:1;

    margin: 2%;

    border: 2px #3c3c3c solid;
}

.item_title
{
    width:100%;
    height:10%;
    position: absolute;
    top:0%;
    left:0%;
    overflow: hidden;
    background-color: #3C3C3C;
}

.date_title
{
    float:right;
    margin-right:6px;
    margin-top:5px;
    color:#dedede63;
    font-size: smaller;
}

.item_description
{
    /* include padding in total width */
    box-sizing: border-box; 
    padding: 3%;
    width:100%;
    height:78%;

    /* takes linebreaks */
    white-space: break-spaces;

    position: absolute;
    top:10%;
    left:0%;
    overflow: scroll;
    overflow-wrap: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    
}

.description_input
{
    /* include padding in total width */
    box-sizing: border-box; 
    padding: 3%;
    background-color: #323232;
    resize: none;
    color: #ffbaab;
    border:none;

    font-family: 'Montserrat';
    font-size:smaller;
    
    width:99%;
    height:98%;

    position: absolute;
    top:0%;
    left:0%;
    overflow: scroll;
    overflow-wrap: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.item_buttons
{
    background-color: #3C3C3C;

    width:100%;
    height:12%;

    position: absolute;
    bottom: 0%;
    left: 0%;
}


.item_description_box > h3
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;

    color: #DEDEDE;

    position: relative;

    padding-left: 0.6em;
    padding-top: 0.2em;

    margin: 0%;
    
}

.item_description_box > p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;

    color: #DEDEDE;

    position: relative;
    
    padding-left: 0.9em;
    padding-top: 0.2em;

    margin:0%;
    
}

/* .delete_button
{
    background-color: #F06A4D;

    width:90%;
    height:1.8em;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    
    

    position: relative;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
} */

.learn_more_button > h3
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    margin: 0%;

    position: relative;
    
    color:#DEDEDE;

}

.learn_more_button:hover
{
    background-color: #ec846d;
}

a
{
    text-decoration: none;
    color: inherit;
}
a:visited
{
    color: inherit;
}



@media only screen and (max-width: 620px)
{
    .item_list
    {
        flex-direction: column;
    }

    .item
    {
        justify-self: center;
        width:95%;
        min-height: 18em;
        height: fit-content;
    }

}

@media only screen and (min-width: 621px)
{
    .item_list
    {
        flex-direction: row;
    }

}


.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 78%;
    top: 10%;
    background-color: rgba(107, 161, 102, 0.302);
    z-index:2;
    cursor:default;
  }

  /* useless element to fill last row */
.filling-empty-space-childs {
    width: 16em; /*same width as item*/
    height:0; /*Important! for the divs to collapse should they fall in a new row*/
    margin:2%;
    padding-left: 2px;
    padding-right: 2px;
    /* make item order itself last */
    order:3;
    
}